.pagination-container {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}

.pagination-page-control {
  display: flex;
  align-items: center;
  gap: 4px;
}
.page-btn {
  outline: none;
  background: none;
  border: 2px solid #e7e5e5;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  padding: 0;
}

.page-btn:disabled {
  cursor: not-allowed;
  color: darkgray;
}

.page-btn:not(:disabled):not(.current):hover,
select:hover {
  background-color: #e7e5e5;
}

.page-btn:not(:disabled):not(.current):active {
  background-color: #999999;
  border: none;
  color: white;
}

.page-btn.current {
  background-color: #363636;
  color: white;
  border-color: #363636;
}

select {
  outline: none;
  background: none;
  border: 2px solid #e7e5e5;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 50px;
}

select:active {
  border: 2px solid #545454;
}

.arrow-icon {
  border: solid currentColor;
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 8px;
  width: 8px;
  pointer-events: none;
}

.arrow-icon.right {
  transform: translateX(-2px) rotate(-45deg);
}

.arrow-icon.left {
  transform: translateX(2px) rotate(135deg);
}
